body {
    background-color: #eceff1;
    font-family: 'Roboto', sans-serif;
}

td {
    padding: 6px;
    border-bottom: 1px gray solid;
}

th {
    background-color: #b7d0ff;
    font: bold;
    padding: 12px 0px 12px 6px;
    border-bottom: 2px gray solid;
}

table {
    border-collapse: collapse;
    font-size: 16px;
    text-align: left;
    table-layout: fixed;
    width: 100%;
}

.center {
    margin: auto;
    padding: 60px;
    width: 60%;
}

.good {
    background-color: #abffbd;
}

.bad {
    background-color: #ff9e9e;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #f2f2f2;
}

.show-container {
    padding-left: 10px;
    padding-right: 10px;
}

.show-data {
    width: 100%;
    background-color: #cfd8dc;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 5px 10px;
}

.show-info {
    width: 100%;
}

.image {
    display: block;
}

.h1 {
    text-align: center;
}

@media only screen and (min-width: 800px) {
    .show-data {
        display: flex;
    }
    .show-info {
        padding: 10px;
    }
}

@media only screen and (max-width: 800px) {
    .image {
        margin: auto;
    } .p {
        text-align: center;
        padding: 10px;
    }
}

